<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Añadir Nueva Palabra</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
  <div class="container">
    <h1>Añadir Nueva Palabra</h1>
    <div class="add-word-section">
      <input type="text" id="newWordEn" placeholder="Palabra en inglés">
      <input type="text" id="newWordEs" placeholder="Traducción al español">
      <input type="text" id="newWordExample" placeholder="Ejemplo de uso">
      <select id="newWordCategory">
        <option value="animals">Animales</option>
        <option value="fruits">Frutas</option>
        <option value="colors">Colores</option>
        <option value="physical_descriptions">Descripciones físicas</option>
        <option value="skills">Habilidades</option>
        <option value="verbs">Verbos</option>
      </select>
      <button id="addWordButton">Añadir Palabra</button>
    </div>
    <nav>
      <ul>
        <li><a href="../index.html">Menú Principal</a></li>
        <li><a href="./translate.html">Traducir</a></li>
        <li><a href="./dictionary.html">Diccionario</a></li>
      </ul>
    </nav>
  </div>
  <script type="module" src="../scripts/add-word.js"></script>
</body>
</html>



